/* ==========================================
            TEACHERS TABLE
========================================== */

.table th:nth-child(3),
.table td:nth-child(3){

    width:160px;
    text-align:center;

}

.table th:last-child,
.table td:last-child{

    width:300px;
    text-align:center;

}